body {
    background-image: url("../images/nature3.jpg");
    
}

.container {
    height: 100%;
    background-image: url("../images/leaves-pattern.png");
   
}

#question {
    margin-top: 30px;
}

#answers {
    cursor: pointer;
    margin-top: 50px;
}

#footer {
    background-color:black;
    font-family: 'Georgia', Times, Times New Roman, serif; 
    color: #ffffff;  
    height: 50px;
   
}